In [1]:
import pandas as pd

In [15]:
df = pd.read_csv("FoodBalanceSheets_E_All_Data_NOFLAG.csv",encoding = "ISO-8859-1")

In [16]:
df.head(5)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,2,Afghanistan,2501,Population,511,Total Population - Both sexes,1000 persons,8954.00,9142.00,9340.00,...,24019.00,24861.00,25631.00,26349.00,27032.00,27708.00,28398.00,29105.00,29825.00,30552.00
1,2,Afghanistan,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,2999.00,2917.00,2698.00,...,1967.00,1948.00,1966.00,2046.00,2041.00,2081.00,2104.00,2107.00,2100.00,2090.00
2,2,Afghanistan,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,84.91,82.98,77.12,...,55.24,53.51,53.46,56.00,56.96,57.79,58.14,58.91,58.91,58.25
3,2,Afghanistan,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,37.51,37.61,38.57,...,34.95,36.75,31.13,32.09,29.72,30.72,33.88,33.08,33.37,33.52
4,2,Afghanistan,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2752.00,2672.00,2438.00,...,1726.00,1715.00,1762.00,1839.00,1831.00,1871.00,1888.00,1891.00,1883.00,1873.00

In [17]:
df.describe()

,Area Code,Item Code,Element Code,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
count,238560.000000,238560.000000,238560.000000,2.071060e+05,2.071060e+05,2.071060e+05,2.071060e+05,2.071060e+05,2.071060e+05,2.071060e+05,...,2.304290e+05,2.304290e+05,2.312910e+05,2.312910e+05,2.312910e+05,2.312910e+05,2.312910e+05,2.305580e+05,2.303420e+05,2.303420e+05
mean,1150.202192,2696.283342,3706.402067,5.064011e+02,5.161298e+02,5.282580e+02,5.536915e+02,5.755501e+02,5.911821e+02,6.036017e+02,...,1.188425e+03,1.206788e+03,1.236305e+03,1.287630e+03,1.322459e+03,1.332208e+03,1.363672e+03,1.421876e+03,1.450526e+03,1.484286e+03
std,2081.530727,147.605837,2277.037152,1.105230e+04,1.120759e+04,1.141292e+04,1.183959e+04,1.218371e+04,1.250029e+04,1.276164e+04,...,2.416890e+04,2.436964e+04,2.487784e+04,2.586020e+04,2.661227e+04,2.671088e+04,2.709348e+04,2.793913e+04,2.832356e+04,2.895109e+04
min,1.000000,2501.000000,511.000000,-1.425500e+04,-1.529800e+04,-9.096000e+03,-1.988200e+04,-4.894000e+03,-2.997000e+04,-3.106800e+04,...,-4.979000e+04,-9.695000e+03,-1.852000e+04,-1.716500e+04,-7.573100e+04,-5.157500e+04,-1.888300e+04,-3.098900e+04,-3.322200e+04,-9.101300e+04
25%,81.000000,2570.000000,674.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,155.000000,2641.000000,5142.000000,1.900000e-01,2.400000e-01,2.900000e-01,3.300000e-01,3.900000e-01,4.500000e-01,4.800000e-01,...,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.100000e+00,2.280000e+00,2.500000e+00
75%,236.000000,2782.000000,5511.000000,1.100000e+01,1.183750e+01,1.200000e+01,1.284750e+01,1.300000e+01,1.400000e+01,1.400000e+01,...,3.400000e+01,3.500000e+01,3.600000e+01,3.700000e+01,3.711000e+01,3.821500e+01,4.000000e+01,4.100000e+01,4.200000e+01,4.300000e+01
max,5817.000000,2961.000000,5911.000000,3.047759e+06,3.105133e+06,3.164341e+06,3.225968e+06,3.290368e+06,3.357665e+06,3.427590e+06,...,6.313822e+06,6.388641e+06,6.464065e+06,6.539921e+06,6.616356e+06,6.693385e+06,6.770979e+06,6.847859e+06,6.919022e+06,6.997326e+06

In [18]:
missing_values=df.columns[df.isnull().any()]
df[missing_values].isnull().sum()

Y1961    31454
Y1962    31454
Y1963    31454
Y1964    31454
Y1965    31454
Y1966    31454
Y1967    31454
Y1968    31454
Y1969    31454
Y1970    31454
Y1971    31454
Y1972    31454
Y1973    31454
Y1974    31454
Y1975    31454
Y1976    31454
Y1977    31454
Y1978    31454
Y1979    31454
Y1980    31454
Y1981    31454
Y1982    31454
Y1983    31454
Y1984    31454
Y1985    31454
Y1986    31454
Y1987    31454
Y1988    31454
Y1989    31454
Y1990    30407
Y1991    30407
Y1992    10511
Y1993     9104
Y1994     9104
Y1995     9104
Y1996     9104
Y1997     9104
Y1998     9104
Y1999     9104
Y2000     8131
Y2001     8131
Y2002     8131
Y2003     8131
Y2004     8131
Y2005     8131
Y2006     7269
Y2007     7269
Y2008     7269
Y2009     7269
Y2010     7269
Y2011     8002
Y2012     8218
Y2013     8218
dtype: int64

In [21]:
df_impute = df[df.isnull().any(axis=1)][missing_values]

for index, row in df_impute.iterrows():
    print(index)